    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="https://raw.githubusercontent.com/sdublin/small-business/master/Portait.jpg" alt="">
            </div>
            <div class="col-md-6">
                <h2>About Me</h2>
                <p>My name is Dr. Marike Herold-Dublin.</p>
                <p>I’ve been teaching German as a foreign language professionally for five years. I’m trained and certified by the Goethe-Institute and teach according to their communicative approach method. I attended university and worked in the US for over ten years, so I understand the challenges of learning a language and trying to thrive in a foreign country.</p>
                <p>Through my personal experiences and training, I developed several successful strategies that I'll pass on to you.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; herold-dublin.com 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
