<!-- Navigation --> 
35     <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> 
36         <div class="container"> 
37             <!-- Brand and toggle get grouped for better mobile display --> 
38             <div class="navbar-header"> 
39                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
40                     <span class="sr-only">Toggle navigation</span> 
41                     <span class="icon-bar"></span> 
42                     <span class="icon-bar"></span> 
43                     <span class="icon-bar"></span> 
44                 </button> 
45                 <a class="navbar-brand" href="index.html">Sprachstudio Dr. Herold-Dublin</a> 
46             </div> 
47             <!-- Collect the nav links, forms, and other content for toggling --> 
48             <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
49                 <ul class="nav navbar-nav navbar-right"> 
50                     <li class="active"> 
51                         <a href="about.html">About</a> 
52                     </li> 
53                     <li> 
54                         <a href="services.html">Courses</a> 
55                     </li> 
56                     <li> 
57                         <a href="pricing.html">Prices</a> 
58                     </li> 
59                     <li> 
60                         <a href="contact.html">Contact</a> 
61                     </li> 
62                     <li class="dropdown"> 
63                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Additional Info <b class="caret"></b></a> 
64                         <ul class="dropdown-menu"> 
65                             <li> 
66                                 <a href="faq.html">FAQ</a> 
67                             </li> 
68                             <li> 
69                                 <a href="impressum.html">Impressum</a> 
70                             </li> 
71                         </ul> 
72                     </li> 
73                 </ul> 
74             </div> 
75             <!-- /.navbar-collapse --> 
76         </div> 
77         <!-- /.container --> 
78     </nav> 
